.section-services {
	.section__item:not(:nth-last-child(-n+3)) {
		border-bottom: 1px solid $color-grey-light-2;
		margin-bottom: 5rem;
		padding-bottom: 4rem;
	}

	@media screen and (max-width: 768px) {
		.section__item:not(:nth-last-child(-n+1)) {
			border-bottom: 1px solid $color-grey-light-2;
			margin-bottom: 2rem;
			padding-bottom: 1rem;
		}
	}

	@media screen and (max-width: 992px) {
		.section__item:not(:nth-last-child(-n+2)) {
			border-bottom: 1px solid $color-grey-light-2;
			margin-bottom: 3rem;
			padding-bottom: 2rem;
		}
	}

	&__icon {
		font-size: 3rem;
		margin-right: 2rem;
		color: $color-tertiary;
	}

	&__title {
		@include font-montserrat();

		font-weight: 500;
		font-size: 1.4rem;
		margin: .5rem 0 1rem;
		color: $color-grey-dark-1;
		text-transform: uppercase;
	}

	&__description {
		font-size: 1.3rem;
	}
}
