.section-unique-design {
	padding-bottom: 0;
	margin-bottom: 3rem;
	background: #e0e0e0 url("../assets/images/unique-design/bg-unique-design.jpg") no-repeat center center;
	background-size: cover;

	.section__content {
		justify-content: center;
	}
}
